<!DOCTYPE html>
<html>
<head>
  <title>Shelfie Cloud</title>
  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="./src/jquery.datetimepicker.min.css" >
  <link rel="stylesheet" type ="text/css" href="style.css">

  <!-- SCRIPTS -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="./src/jquery.datetimepicker.full.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div style="width: 100%; height: 100%;" id="shelfie-app">
        <div style="width: 100%; height: 100%;" class="login" v-bind:class="{active: !isLoggedIn}">
            <p>
                <h1>Welcome! Please Login</h1>
            </p>
            <div class = "loginContainer">
                <label for = "uname"><b>Username</b></label>
                <input id="username-input" type = "text" placeholder="Enter Username/Email" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input id="passwd-input"type="password" placeholder="Enter Password" name="psw" required>
            
                <button onclick="login()" type="submit">Login</button>
                <label class = "rememberCheckbox">
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>
        </div>
        <div  class="app-container" v-bind:class="{active: isLoggedIn}">
        <nav class="sidebar" v-bind:class="{active: isSidebarActive}">
        <ul class="button-list">
            <img width="80%" src="./src/assets/trussell-trust-logo-500px.png">
            <li v-on:click="activatePage('inventory')" style="border-top: 1px solid #82bd14;">Inventory</li>
            <li v-on:click="activatePage('viewData')">View Data</li>
            <li v-on:click="activatePage('report')">Report Generator</li>
            <li v-on:click="activatePage('warehouseConfig')">Warehouse Config</li>
            <li v-on:click="activatePage('userManagement')">User Management</li>
        </ul>
        </nav>
        <div v-bind:class="{active: isSidebarActive}" class="main">
            <section v-on:click="isSidebarActive = !isSidebarActive" v-bind:class="{active: isSidebarActive}" class="hamburger">
				<section></section>
				<section></section>
				<section></section>
            </section> 

        <div v-bind:class="{active: isInventoryActive}" class="inventory">
            <form role="form" @submit='checkForm' method="post">
            <div class="data-entry-form">
                <div class="container-fluid inventory-container mx-0">
					<!--
                    <div class="row">
                        <div class="col-md-3 col-sm-3" style="padding: 25px; margin: auto;">
                            <label for="select_zone">Zone</label>
                            <select name = "select_zone" id="select_zone" v-model= "select_zone" @change="inventoryFetchBays">
                                <option v-for="zoneName in inventoryZones">{{ zoneName }}</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-3" style="padding: 25px; margin: auto;">
                            <label for="select_bay">Bay</label>
                            <select id="select_bay" v-model="select_bay" @change="inventoryFetchShelves">
                                <option v-for="bayName in inventoryBays">{{ bayName }}</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-3" style="padding: 25px; margin: auto;">
                            <label for="select_level">Level</label>
                            <select name = "select_level" id="select_level" v-model="select_level" @change="inventoryFetchRowsAndColumns">
                                <option v-for="shelfNumber in inventoryShelves">{{ shelfNumber }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4" style="padding: 25px; margin: auto;">
                            <label for="select_year">Expiry Year</label>
                            <select name = "select_year" id="select_year" v-model="select_year" >
                                <option>2023</option>
                                <option>2022</option>
                                <option>2021</option>
                                <option>2020</option>
                                <option>2019</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-4"  style="padding: 25px; margin: auto;">
                            <label for="select_month">Expiry Month</label>
                            <select name = "select_month" id="select_month" v-model="select_month" >
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div>
    
                        <div class="col-md-3 col-sm-4"  style="padding: 25px; margin: auto;">
                        <label for="stock_taken_date">Stock Taken Date</label>
                        <input type="text" name = "stock_taken_date" v-model="stock_taken_date" id="datetimepicker">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3"  style="padding: 25px; margin: auto;">
                            <label for="enter_weight">Weight</label>
                            <input type='text' name= "enter_weight" v-model="enter_weight">
                            <p></p>
                        </div>
                    </div>
					-->
					<div class="inv-warehouse-view-container">
						<div class="row">
							<div class="col-sm-4 col-lg-3 col-xl-2 inv-warehouse-view-ctrl">
								<div class="inv-v-ctrl-container text-center pt-3">
									<div class="inv-v-ctrl-head">Zone</div>
									<div class="inv-v-ctrl-mv">
										<button>&#129092;</button>
										<div>RED</div>
										<button>&#129094;</button>
									</div>
								</div>
								<div class="inv-v-ctrl-container text-center pt-1">
									<div class="inv-v-ctrl-head">Bay</div>
									<div class="inv-v-ctrl-mv">
										<button>&#129092;</button>
										<div>A</div>
										<button>&#129094;</button>
									</div>
								</div>
								<div class="inv-v-ctrl-container text-center pt-1">
									<div class="inv-v-ctrl-head">Shelf</div>
									<div class="inv-v-ctrl-mv">
										<button>&#129095;</button>
										<div>1</div>
										<button>&#129093;</button>
									</div>
								</div>
								<div class="inv-v-ctrl-container d-flex justify-content-between">
									<div class="inv-left-controls">
										<button class="invButton" v-on:click="">Shelf OK</button>
										<button class="invButton" v-on:click="">Fill Shelf</button>
										<button class="invButton" v-on:click="">Clear Tray</button>
										<button class="invButton" v-on:click="">View Note</button>
									</div>
									<div class="inv-v-bay-view">
										<div class="inv-v-bay-view-shelf"><div class="inv-checked"></div></div>
										<div class="inv-v-bay-view-shelf"><div class="inv-checked"></div></div>
										<div class="inv-v-bay-view-shelf"><div class="inv-checked done"></div></div>
										<div class="inv-v-bay-view-shelf"><div class="inv-checked"></div></div>
										<div class="inv-v-bay-view-shelf"><div class="inv-checked"></div></div>
									</div>
								</div>
							</div>
							<div class="col-sm-8 col-lg-9 col-xl-10 inv-warehouse-view">
								<div class="inv-warehouse-container">
									<div class="inv-w-row">
										<div class="inv-w-el" :class="{selectedTray:id == selectedTray}" @click="selectedTray = id">
											<div class="inv-w-el-tray">BEANS</div>
											<div class="inv-w-el-meta">
												<div class="inv-w-el-weight">10.25</div>
												<div class="inv-w-el-expiry exp-cyc-yellow">May 2020</div>
											</div>
										</div>
										<div class="inv-w-el selected">
											<div class="inv-w-el-tray">BEANS</div>
											<div class="inv-w-el-meta">
												<div class="inv-w-el-weight">10.25</div>
												<div class="inv-w-el-expiry exp-cyc-blue">May 2020</div>
											</div>
										</div>
										<div class="inv-w-el">
											<div class="inv-w-el-tray">BEANS</div>
											<div class="inv-w-el-meta">
												<div class="inv-w-el-weight">10.25</div>
												<div class="inv-w-el-expiry exp-cyc-pink">May 2020</div>
											</div>
										</div>
										<div class="inv-w-el">
											<div class="inv-w-el-tray">BEANS</div>
											<div class="inv-w-el-meta">
												<div class="inv-w-el-weight">10.25</div>
												<div class="inv-w-el-expiry exp-cyc-green">May 2020</div>
											</div>
										</div>
									</div>
									<div class="inv-w-row">
										<div class="inv-w-el">
											<div class="inv-w-el-tray">BEANS</div>
											<div class="inv-w-el-meta">
												<div class="inv-w-el-weight">10.25</div>
												<div class="inv-w-el-expiry">May 2020</div>
											</div>
										</div>
										<div class="inv-w-el">
											<div class="inv-w-el-tray">BEANS</div>
											<div class="inv-w-el-meta">
												<div class="inv-w-el-weight">10.25</div>
												<div class="inv-w-el-expiry">May 2020</div>
											</div>
										</div>
										<div class="inv-w-el">
											<div class="inv-w-el-tray">BEANS</div>
											<div class="inv-w-el-meta">
												<div class="inv-w-el-weight">10.25</div>
												<div class="inv-w-el-expiry">May 2020</div>
											</div>
										</div>
										<div class="inv-w-el">
											<div class="inv-w-el-tray">BEANS</div>
											<div class="inv-w-el-meta">
												<div class="inv-w-el-weight">10.25</div>
												<div class="inv-w-el-expiry">May 2020</div>
											</div>
										</div>
									</div>
									<div class="inv-w-row">
										<div class="inv-w-el">
											<div class="inv-w-el-tray">BEANS</div>
											<div class="inv-w-el-meta">
												<div class="inv-w-el-weight">10.25</div>
												<div class="inv-w-el-expiry">May 2020</div>
											</div>
										</div>
										<div class="inv-w-el">
											<div class="inv-w-el-tray">BEANS</div>
											<div class="inv-w-el-meta">
												<div class="inv-w-el-weight">10.25</div>
												<div class="inv-w-el-expiry">May 2020</div>
											</div>
										</div>
										<div class="inv-w-el">
											<div class="inv-w-el-tray">BEANS</div>
											<div class="inv-w-el-meta">
												<div class="inv-w-el-weight">10.25</div>
												<div class="inv-w-el-expiry">May 2020</div>
											</div>
										</div>
										<div class="inv-w-el">
											<div class="inv-w-el-tray">BEANS</div>
											<div class="inv-w-el-meta">
												<div class="inv-w-el-weight">10.25</div>
												<div class="inv-w-el-expiry">May 2020</div>
											</div>
										</div>
									</div>
									<div class="inv-w-row">
										<div class="inv-w-el">
											<div class="inv-w-el-tray">BEANS</div>
											<div class="inv-w-el-meta">
												<div class="inv-w-el-weight">10.25</div>
												<div class="inv-w-el-expiry">May 2020</div>
											</div>
										</div>
										<div class="inv-w-el">
											<div class="inv-w-el-tray">BEANS</div>
											<div class="inv-w-el-meta">
												<div class="inv-w-el-weight">10.25</div>
												<div class="inv-w-el-expiry">May 2020</div>
											</div>
										</div>
										<div class="inv-w-el">
											<div class="inv-w-el-tray">BEANS</div>
											<div class="inv-w-el-meta">
												<div class="inv-w-el-weight">10.25</div>
												<div class="inv-w-el-expiry">May 2020</div>
											</div>
										</div>
										<div class="inv-w-el">
											<div class="inv-w-el-tray">BEANS</div>
											<div class="inv-w-el-meta">
												<div class="inv-w-el-weight">10.25</div>
												<div class="inv-w-el-expiry">May 2020</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="inv-category-inputs my-2">
						<div class="row no-gutters mx-0">
							<div class="button-group col-lg-9">
								<button class="invButton" v-on:click="tray_category='MIXED'">MIXED</button>
								<button class="invButton" v-on:click="tray_category='BABY'">BABY</button>
								<button class="invButton" v-on:click="tray_category='CLEANING'">CLEANING</button>
								<button class="invButton" v-on:click="tray_category='HOT CHOC'">HOT CHOC</button>
								<button class="invButton" v-on:click="tray_category='PASTA'">PASTA</button>
								<button class="invButton" v-on:click="tray_category='RICE PUD'">RICE PUD</button>
								<button class="invButton" v-on:click="tray_category='TEA BAGS'">TEA BAGS</button>
								<button class="invButton" v-on:click="tray_category='BABY'">BABY</button>
								<button class="invButton" v-on:click="tray_category='EFBs'">EFBs</button>
								<button class="invButton" v-on:click="tray_category='BEANS'">BEANS</button>
								<button class="invButton" v-on:click="tray_category='CUSTARD'">CUSTARD</button>
								<button class="invButton" v-on:click="tray_category='INSTANT MEALS'">INSTANT MEALS</button>
								<button class="invButton" v-on:click="tray_category='PASTA SAUCE'">PASTA SAUCE</button>
								<button class="invButton" v-on:click="tray_category='SAVOURY TREATS'">SAVOURY TREATS</button>
								<button class="invButton" v-on:click="tray_category='TOILETRIES'">TOILETRIES</button>
								<button class="invButton" v-on:click="tray_category='TRAYS'">TRAYS</button>
								<button class="invButton" v-on:click="tray_category='BISCUITS'">BISCUITS</button>
								<button class="invButton" v-on:click="tray_category='FEM HYGIENE'">FEM HYGIENE</button>
								<button class="invButton" v-on:click="tray_category='JAM'">JAM</button>
								<button class="invButton" v-on:click="tray_category='PET FOOD'">PET FOOD</button>
								<button class="invButton" v-on:click="tray_category='SOUP'">SOUP</button>
								<button class="invButton" v-on:click="tray_category='TOMATOES'">TOMATOES</button>
								<button class="invButton" v-on:click="tray_category='SHORT DATE'">SHORT DATE</button>
								<button class="invButton" v-on:click="tray_category='CEREAL'">CEREAL</button>
								<button class="invButton" v-on:click="tray_category='FISH'">FISH</button>
								<button class="invButton" v-on:click="tray_category='MEAT'">MEAT</button>
								<button class="invButton" v-on:click="tray_category='POP/SQUASH'">POP/SQUASH</button>
								<button class="invButton" v-on:click="tray_category='SPAGHETTI'">SPAGHETTI</button>
								<button class="invButton" v-on:click="tray_category='VEGETABLES'">VEGETABLES</button>
								<button class="invButton" v-on:click="tray_category='OUT OF DATE'">OUT OF DATE</button>
								<button class="invButton" v-on:click="tray_category='CHOC/SWEET'">CHOC/SWEET</button>
								<button class="invButton" v-on:click="tray_category='FRUIT'">FRUIT</button>
								<button class="invButton" v-on:click="tray_category='MILK'">MILK</button>
								<button class="invButton" v-on:click="tray_category='POTATOES'">POTATOES</button>
								<button class="invButton" v-on:click="tray_category='SPONGE PUD'">SPONGE PUD</button>
								<button class="invButton" v-on:click="tray_category='CHRISTMAS'">CHRISTMAS</button>
								<button class="invButton" v-on:click="tray_category='UNSORTED'">UNSORTED</button>
								<button class="invButton" v-on:click="tray_category='COFFEE'">COFFEE</button>
								<button class="invButton" v-on:click="tray_category='FRUIT JUICE'">FRUIT JUICE</button>
								<button class="invButton" v-on:click="tray_category='MISC'">MISC</button>
								<button class="invButton" v-on:click="tray_category='RICE'">RICE</button>
								<button class="invButton" v-on:click="tray_category='SUGAR'">SUGAR</button>
								<button class="invButton" v-on:click="tray_category='OTHER'">OTHER</button>
								<button class="invButton exp-cyc-yellow date" v-on:click="tray_category='2020'">2020</button>
								<button class="invButton exp-cyc-blue date" v-on:click="tray_category='2021'">2021</button>
								<button class="invButton exp-cyc-pink date" v-on:click="tray_category='2022'">2022</button>
								<button class="invButton exp-cyc-green date" v-on:click="tray_category='2023'">2023</button>
								<button class="invButton exp-cyc-yellow date" v-on:click="tray_category='2024'">2024</button>
							</div>
							<div class="button-group col-lg-3">
								<button class="invButton date" v-on:click="tray_category='JAN 2020'">JAN 2020</button>
								<button class="invButton date" v-on:click="tray_category='FEB 2020'">FEB 2020</button>
								<button class="invButton date" v-on:click="tray_category='MAR 2020'">MAR 2020</button>
								<button class="invButton date" v-on:click="tray_category='APR 2020'">APR 2020</button>
								<button class="invButton date" v-on:click="tray_category='MAY 2020'">MAY 2020</button>
								<button class="invButton date" v-on:click="tray_category='JUN 2020'">JUN 2020</button>
								<button class="invButton date" v-on:click="tray_category='JUL 2020'">JUL 2020</button>
								<button class="invButton date" v-on:click="tray_category='AUG 2020'">AUG 2020</button>
								<button class="invButton date" v-on:click="tray_category='SEP 2020'">SEP 2020</button>
								<button class="invButton date" v-on:click="tray_category='OCT 2020'">OCT 2020</button>
								<button class="invButton date" v-on:click="tray_category='NOV 2020'">NOV 2020</button>
								<button class="invButton date" v-on:click="tray_category='DEC 2020'">DEC 2020</button>
								<button class="invButton date" v-on:click="tray_category='JAN-MAR 2020'">JAN-MAR 2020</button>
								<button class="invButton date" v-on:click="tray_category='APR-JUN 2020'">APR-JUN 2020</button>
								<button class="invButton date" v-on:click="tray_category='JUL-SEP 2019'">JUL-SEP 2019</button>
								<button class="invButton date" v-on:click="tray_category='OCT-DEC 2019'">OCT-DEC 2019</button>
							</div>
						</div>
					</div>
                    <br>
                    <b>Plase select the tray you would like to update the information to </b>
                    <p>You have selected position: {{tray_position}}</p>
                    <br>
                    
                    <table >
                        <tr v-for="row in inventoryRows.slice().reverse()"><th v-for="column in inventoryColumns" v-on:click="inventorySetSelectedTray(row, column)">TRAY</th></tr>
                    </table>
                    <input type="submit" value="Submit" v-on:click="inventorySubmitNewTrays"> 
                </div>
                
            </div>
              
        </form>
        
        </div>

        <div v-bind:class="{active: isDataViewActive}" class="data-view">
            <h2 style="margin-bottom: 25px;">Data View</h2>
            <div style="overflow-x: scroll; width: 100%; min-width: 500px;">
                <table>
                    <tr>
                        <th rowspan="2" @click="sort('zone')">Zone</th>
                        <th rowspan="2" @click="sort('bay')">Bay</th>
                        <th rowspan="2" @click="sort('shelf')">Shelf</th>
                        <th rowspan="2" @click="sort('row')">Row</th>
                        <th rowspan="2" @click="sort('column')">Column</th>
                        <th rowspan="2" @click="sort('category')">Category</th>
                        <th rowspan="2" @click="sort('weight')">Weight</th>
                        <th style="cursor: default;" colspan="2">Expiry Year</th>
                        <th style="cursor: default;" colspan="2">Expiry Month</th>
                        <th rowspan="2" @click="sort('lastUpdated')">Last Updated</th>
                        <th rowspan="2">Note</th>
                    </tr>
            
                    <tr>
                        <th @click="sort('expiryYear.start')">Start</th>
                        <th @click="sort('expiryYear.end')">End</th>
                        <th @click="sort('expiryMonth.start')">Start</th>
                        <th @click="sort('expiryMonth.end')">End</th>
                    </tr>
            
                    <tr v-for="tray in sortedTrays">
                        <td>{{ tray.zone }}</td>
                        <td>{{ tray.bay }}</td>
                        <td>{{ tray.shelf }}</td>
                        <td>{{ tray.row }}</td>
                        <td>{{ tray.column }}</td>
                        <td>{{ tray.category }}</td>
                        <td>{{ tray.weight }}</td>
                        <td>{{ tray.expiryYear.start }}</td>
                        <td>{{ tray.expiryYear.end }}</td>
                        <td>{{ tray.expiryMonth.start }}</td>
                        <td>{{ tray.expiryMonth.end }}</td>
                        <td>{{ tray.lastUpdated }}</td>
                        <td>{{ tray.userNote }}</td>
                    </tr>
                </table>
            </div>
            <div class="page-control-buttons">
                <button @click="prevPage" style="padding: 8px;width: 125px; margin: 10px;" type="button">Previous</button>
                <button @click="nextPage" style="padding: 8px; width: 125px; margin: 10px;"type="button">Next</button>
                <button @click="fetchAllTrays" style="padding: 8px; width: 125px; margin: 10px;" type="button">Refresh Table</button>
            </div>
            <div class="input-filters">
                <label>Zone Filter: <input v-on:keyup="currentPage = 1" v-model="zoneFilter" placeholder="Search by zone" type="text" ></label>
                <label>Bay Filter: <input v-on:keyup="currentPage = 1" v-model="bayFilter" placeholder="Search by bay" type="text" ></label>
                <label>Shelf Filter: <input v-on:keyup="currentPage = 1" v-model="shelfFilter" placeholder="Search by shelf" type="text" ></label>
                <label>Row Filter: <input v-on:keyup="currentPage = 1" v-model="rowFilter" placeholder="Search by row" type="text" ></label>
                <label>Column Filter: <input v-on:keyup="currentPage = 1" v-model="columnFilter" placeholder="Search by column" type="text" ></label>
                <label>Category Filter: <input v-on:keyup="currentPage = 1" v-model="categoryFilter" placeholder="Search by category" type="text" ></label>
                <label>Weight Filter: <input v-on:keyup="currentPage = 1" v-model="weightFilter" placeholder="Search by weight" type="text" ></label>
            </div>
        </div>


        <!-- USER MANAGEMENT PAGE -->
        <div v-bind:class="{active: isUserManagementActive}" class="user-view">
            <div class = "user-view-container">
                <h2 style = "margin-bottom: 25px;">User Management</h2>
                
                <div>
                    <table style="text-align: center;"> <!-- TO DO: read from DB-->
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Can View Data</th>
                            <th>Can Edit Data</th>
                            <th>Can Modify Warehouse</th>
                            <th>Can Modify Users</Th>

                        </tr>
                        <tr style="font-weight:bold">
                            <td>Aidan</td>
                            <td>Williamson</td>
                            <td>Aidan@AidansEmail.com</td>
                            <td>Manager</td>
                            <td><input type="checkbox" disabled checked/>  Yes</td>
                            <td><input type="checkbox" disabled checked/>  Yes</td>
                            <td><input type="checkbox" disabled checked/>  Yes</td>
                            <td><input type="checkbox" disabled checked/>  Yes</td>
                        </tr>
                        <tr>
                            <td>Eve</td>
                            <td>Jackson</td>
                            <td>EveJackson@OutkastsHub.co.uk</td>
                            <td>Designated Volunteer</td>
                            <td><input type="checkbox" disabled checked/>  Yes</td>
                            <td><input type="checkbox" disabled checked/>  Yes</td>
                            <td><input type="checkbox" disabled/>  No</td>
                            <td><input type="checkbox" disabled/>  No</td>
                          </tr>
                        <tr>
                            <td>Roxanne</td>
                            <td>Harriet</td>
                            <td>RoxaneRoxanneson@googly.com</td>
                            <td>Designated Volunteer</td>
                            <td><input type="checkbox" disabled checked/>  Yes</td>
                            <td><input type="checkbox" disabled/>  No</td>
                            <td><input type="checkbox" disabled/>  No</td>
                            <td><input type="checkbox" disabled checked/>  Yes</td>
                        </tr>
                    </table>    
                </div>

                <div class="page-control-buttons">      <!-- TO DO: add functionality -->
                    <button @click="prevPage" style="padding: 8px;width: 125px; margin: 10px;" type="button">Previous</button>
                    <button @click="nextPage" style="padding: 8px; width: 125px; margin: 10px;"type="button">Next</button>
                    <button @click="fetchAllTrays" style="padding: 8px; width: 125px; margin: 10px;" type="button">Refresh Table</button>
                </div>

                <p style="text-align: center; font-weight:bold; margin-top: 5%; margin-bottom: 0px">Selected User</p>
                    <div class="current-record">
                        <div class="record-item">
                            <p1>Name: </p1>
                            <input type="text" style="height:38px;width:300px" placeholder="Aidan Williamson"></p></div>
                        <div class="record-item">
                            <p1>email: </p1>
                            <input type="text" style="height:38px;width:300px" placeholder="Aidan@AidansEmail.com"></p></div>
                        <div class="record-item">
                            <p1>Role: </p1>
                            <div class="button-group" style="vertical-align: centre; width:350px; margin-left: 2.5%;">
                                <button class="invButton" style="width:100%;height:50px;background-color: #497E92;">Manager</button>
                                <button class="invButton" style="width:100%;height:50px">Designated Volunteer</button>
                                <button class="invButton" style="width:100%;height:50px">Non-Designated Volunteer</button>
                            </div>
                        </div>
                        <div class="record-item">
                            <p1>Permissions: </p1>
                            <div class="button-group" style="vertical-align: centre; width:250px; margin-left: 2.5%;">
                                <input type="checkbox" value="true" checked/>  Can View Data<br><br>
                                <input type="checkbox"/>  Can Edit Data<br><br>
                                <input type="checkbox"/>  Can Modify Warehouse<br><br>
                                <input type="checkbox"/>  Can Modify Users<br><br>
                            </div>
                        </div>
                        <button class="invButton">Update Record</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
  </div>

  <script src="./src/main.js" ></script>
</body>
</html>