<!DOCTYPE html>
<html lang="en">
<head>
	<title>Shelfie Cloud</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.css" integrity="sha256-A47OwxL/nAN0ydiDFTSGX7ftbfTJTKgiJ0zqCuTPDh4=" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.6.1/dist/bootstrap-vue.min.css" integrity="sha256-DdAtjBS1alSSjGdknERh+FrjHv0m7NTxE5iMhdv5JKs=" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css?v=2">

	<!-- SCRIPTS -->
	<script src="https://cdn.jsdelivr.net/npm/intersection-observer-polyfill@0.1.0/dist/IntersectionObserver.js" integrity="sha256-bpvncwMbMjT7nC1s89l0DbEgj0NRvsoyXsNPdv0481Y=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js" integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-router@3.1.6/dist/vue-router.min.js" integrity="sha256-B8zvQ+y1lIQkcm+EJyCis+7AgsnzaTCBAHgkrPFQr9A=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/portal-vue@2.1.7/dist/portal-vue.umd.min.js" integrity="sha256-hpvN0uXcWg/hXFoIk7TfFKLWKV0HMa5WOICSKiyxxn4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.6.1/dist/bootstrap-vue.min.js" integrity="sha256-Rg0qQCADTRyTZPkSVnItp1nSpSP0ZtYjTh/bNchzS+E=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/luxon@1.22.0/build/global/luxon.min.js" integrity="sha256-9nOzQsMIG12Bislqz+VUSDS8iyP0q4iCy1FfzoRvbXY=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
</head>
<body class="bg-light">
  <div id="shelfie-app">
        <div id="login-page" class="d-flex align-items-center justify-content-center" v-if="!isLoggedIn()">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-8 col-xs-10">
						<form id="login-form" @submit="login">
							<div>
								<h1>Welcome! Please enter your details</h1>
							</div>
							<div class="form-group">
								<label for="username">Username</label>
								<input type="text" class="form-control" id="username" placeholder="Enter username" v-model="loginUsername" required>
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" class="form-control" id="password" placeholder="Enter password" v-model="loginPassword" required>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="login-remember">
									<label class="custom-control-label" for="login-remember">Remember me</label>
								</div>
							</div>
							<button type="submit" class="button mt-0">Login</button>
						</form>
					</div>
				</div>
			</div>
        </div>
        <div id="app-container" v-if="isLoggedIn()">
        <nav id="sidebar" v-bind:class="{active: isSidebarActive}">
        <ul class="button-list">
            <img width="80%" src="./src/assets/trussell-trust-logo-500px.png">
            <li @click="activatePage('inventory')" style="border-top: 1px solid #82bd14;">Inventory</li>
            <li @click="activatePage('viewData')">View Data</li>
            <li @click="activatePage('report')">Report Generator</li>
            <li @click="activatePage('warehouseConfig')">Warehouse Config</li>
            <li @click="activatePage('userManagement')">User Management</li>
			<li @click="logout()">Logout</li>
        </ul>
        </nav>
        <div v-bind:class="{active: isSidebarActive}" id="main">
            <section @click="isSidebarActive = !isSidebarActive" v-bind:class="{active: isSidebarActive}" class="hamburger">
				<section></section>
				<section></section>
				<section></section>
            </section> 

        <div v-bind:class="{active: isInventoryActive}" class="inventory">
			<b-modal id="note-modal" title="Tray Note" centered ok-title="Save note" ok-only>
				<div class="form-group">
					<textarea class="note-textarea form-control" v-model="noteModel"></textarea>
				</div>
			</b-modal>
            <div class="data-entry-form">
                <div class="container-fluid inventory-container mx-0">
					<div class="inv-warehouse-view-container">
						<div class="row">
							<div class="col-sm-4 col-lg-3 col-xl-2 inv-warehouse-view-ctrl">
								<div class="inv-v-ctrl-container text-center pt-3">
									<div class="inv-v-ctrl-head">Zone</div>
									<div class="inv-v-ctrl-mv">
										<button @click="sectionSelect('zone', false)">&#129092;</button>
										<div class="inv-v-zone">{{inventoryZones[selectedZone]}}</div>
										<button @click="sectionSelect('zone', true)">&#129094;</button>
									</div>
								</div>
								<div class="inv-v-ctrl-container text-center pt-1">
									<div class="inv-v-ctrl-head">Bay</div>
									<div class="inv-v-ctrl-mv">
										<button @click="sectionSelect('bay', false)">&#129092;</button>
										<div class="inv-v-zone">{{inventoryBays[selectedBay]}}</div>
										<button @click="sectionSelect('bay', true)">&#129094;</button>
									</div>
								</div>
								<div class="inv-v-ctrl-container text-center pt-1">
									<div class="inv-v-ctrl-head">Shelf</div>
									<div class="inv-v-ctrl-mv">
										<button @click="sectionSelect('shelf', true)">&#129095;</button>
										<div class="inv-v-zone">{{inventoryShelves[selectedShelf] !== undefined ? inventoryShelves[selectedShelf]._id : ''}}</div>
										<button @click="sectionSelect('shelf', false)">&#129093;</button>
									</div>
								</div>
								<div class="inv-v-ctrl-container d-flex justify-content-between pt-1">
									<div class="inv-left-controls">
										<button class="invButton" @click="shelfOk()">Shelf OK</button>
										<button class="invButton" @click="fillShelf()">Fill Shelf</button>
										<button class="invButton" @click="clearTray()">Clear Tray</button>
										<button class="invButton" @click="viewNote()">View Note</button>
									</div>
									<div class="inv-v-bay-view">
										<div v-for="shelf in inventoryShelves.slice().reverse()" class="inv-v-bay-view-shelf"><div class="inv-checked" :class="{done: isShelfOk(shelf), selected: isShelfSelected(shelf)}"></div></div>
									</div>
								</div>
							</div>
							<div class="col-sm-8 col-lg-9 col-xl-10 inv-warehouse-view">
								<div class="inv-warehouse-container">
									<div class="inv-w-row" v-for="row in shelfTrays.slice()">
										<div class="inv-w-el" v-for="tray in row" @click="selectedTray = tray" :class="{selected: selectedTray === tray}">
											<div class="inv-w-el-tray-note" v-if="tray.userNote !== ''"></div>
											<div class="inv-w-el-tray">{{tray.category}}</div>
											<div class="inv-w-el-meta">
												<div class="inv-w-el-weight"><input type="number" min="0" step="0.01" v-model="tray.weight" tabindex="-1"></div>
												<div class="inv-w-el-expiry" :class="getExpiryClass(tray)">{{getExpiryString(tray)}}</div>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
					<div class="inv-category-inputs my-2">
						<div class="row no-gutters mx-0">
							<div class="button-group col-lg-9">
								<button class="invButton" @click="trayContent('MIXED')">MIXED</button>
								<button class="invButton" @click="trayContent('HOT CHOC')">HOT CHOC</button>
								<button class="invButton" @click="trayContent('TEA BAGS')">TEA BAGS</button>
								<button class="invButton" @click="trayContent('COFFEE')">COFFEE</button>
								<button class="invButton" @click="trayContent('SUGAR')">SUGAR</button>
								<button class="invButton" @click="trayContent('FRUIT JUICE')">FRUIT JUICE</button>
								<button class="invButton" @click="trayContent('MILK')">MILK</button>
								<button class="invButton" @click="trayContent('POP/SQUASH')">POP/SQUASH</button>
								<button class="invButton" @click="trayContent('RICE')">RICE</button>
								<button class="invButton" @click="trayContent('PASTA')">PASTA</button>
								<button class="invButton" @click="trayContent('SPAGHETTI')">SPAGHETTI</button>
								<button class="invButton" @click="trayContent('PASTA SAUCE')">PASTA SAUCE</button>
								<button class="invButton" @click="trayContent('EFBs')">EFBs</button>
								<button class="invButton" @click="trayContent('BEANS')">BEANS</button>
								<button class="invButton" @click="trayContent('JAM')">JAM</button>
								<button class="invButton" @click="trayContent('CUSTARD')">CUSTARD</button>
								<button class="invButton" @click="trayContent('BISCUITS')">BISCUITS</button>
								<button class="invButton" @click="trayContent('CHOC/SWEET')">CHOC/SWEET</button>
								<button class="invButton" @click="trayContent('RICE PUD')">RICE PUD</button>
								<button class="invButton" @click="trayContent('SPONGE PUD')">SPONGE PUD</button>
								<button class="invButton" @click="trayContent('INSTANT MEALS')">INSTANT MEALS</button>
								<button class="invButton" @click="trayContent('SAVOURY TREATS')">SAVOURY TREATS</button>
								<button class="invButton" @click="expandableItemGroups.baby = !expandableItemGroups.baby">BABY...</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.baby}" @click="trayContent('BABY CARE')">BABY CARE</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.baby}" @click="trayContent('NAPPIES')">NAPPIES</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.baby}" @click="trayContent('BABY FOOD')">BABY FOOD</button>
								<button class="invButton" @click="expandableItemGroups.cleaning = !expandableItemGroups.cleaning">CLEANING...</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.cleaning}" @click="trayContent('HOUSE CLEANING')">HOUSE CLEANING</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.cleaning}" @click="trayContent('CLEANING (General)')">CLEANING (General)</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.cleaning}" @click="trayContent('KITCHEN FOIL')">KITCHEN FOIL</button>
								<button class="invButton" @click="trayContent('FEM HYGIENE')">FEM HYGIENE</button>
								<button class="invButton" @click="trayContent('TOILETRIES')">TOILETRIES</button>
								<button class="invButton" @click="trayContent('TRAYS')">TRAYS</button>
								<button class="invButton" @click="trayContent('PET FOOD')">PET FOOD</button>
								<button class="invButton" @click="trayContent('SOUP')">SOUP</button>
								<button class="invButton" @click="trayContent('CEREAL')">CEREAL</button>
								<button class="invButton" @click="expandableItemGroups.christmas = !expandableItemGroups.christmas">CHRISTMAS...</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.christmas}" @click="trayContent('XMAS BISCUITS')">XMAS BISCUITS</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.christmas}" @click="trayContent('CHRISTMAS')">XMAS CAKE</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.christmas}" @click="trayContent('XMAS CHOC (Small)')">XMAS CHOC (Small)</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.christmas}" @click="trayContent('XMAS CHOC (Large)')">XMAS CHOC (Large)</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.christmas}" @click="trayContent('XMAS CRACKERS')">XMAS CRACKERS</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.christmas}" @click="trayContent('XMAS MINCE PIES')">XMAS MINCE PIES</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.christmas}" @click="trayContent('XMAS PUDDING')">XMAS PUDDING</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.christmas}" @click="trayContent('XMAS SELECT. BOXES')">XMAS SELECT. BOXES</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.christmas}" @click="trayContent('XMAS SNACKS')">XMAS SNACKS</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.christmas}" @click="trayContent('XMAS SELECT. BOXES')">XMAS SELECT. BOXES</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.christmas}" @click="trayContent('XMAS TINNED HAM')">XMAS TINNED HAM</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.christmas}" @click="trayContent('XMAS SELECT. BOXES')">XMAS SELECT. BOXES</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.christmas}" @click="trayContent('XMAS HAMPERS')">XMAS HAMPERS</button>
								<button class="invButton expandable" :class="{hidden: !expandableItemGroups.christmas}" @click="trayContent('XMAS MISC')">XMAS MISC</button>
								<button class="invButton" @click="trayContent('SHORT DATE')">SHORT DATE</button>
								<button class="invButton" @click="trayContent('OUT OF DATE')">OUT OF DATE</button>
								<button class="invButton" @click="trayContent('FISH')">FISH</button>
								<button class="invButton" @click="trayContent('MEAT')">MEAT</button>
								<button class="invButton" @click="trayContent('FRUIT')">FRUIT</button>
								<button class="invButton" @click="trayContent('TOMATOES')">TOMATOES</button>
								<button class="invButton" @click="trayContent('POTATOES')">POTATOES</button>
								<button class="invButton" @click="trayContent('VEGETABLES')">VEGETABLES</button>
								<button class="invButton" @click="trayContent('UNSORTED')">UNSORTED</button>
								<button class="invButton" @click="trayContent('MISC')">MISC</button>
								<button class="invButton" @click="trayContent('OTHER')">OTHER</button>
								<button class="invButton" v-for="y in yearButtons" :class="getYearColor(y)" @click="trayExpiry({start: y, end: y})">{{y}}</button>
							</div>
							<div class="button-group col-lg-3">
								<button class="invButton" v-for="m in monthYearButtons" @click="trayExpiry(m.y, m.m)">{{m.mt + ' ' + m.y.start}}</button>
								<button class="invButton" v-for="q in quarterButtons" @click="trayExpiry(q.y, q.m)">{{q.mt.start + '-' + q.mt.end + ' ' + q.y.start}}</button>
							</div>
						</div>
					</div>
                    <input type="submit" value="Submit" @click="inventorySubmitNewTrays"> 
                </div>
            </div>        
        </div>

        <div v-bind:class="{active: isDataViewActive}" id="data-view">
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						<h1 class="display-4 text-center">Data View</h1>
						<hr>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th scope="col" rowspan="2" @click="sort('zone')">Zone</th>
										<th scope="col" rowspan="2" @click="sort('bay')">Bay</th>
										<th scope="col" rowspan="2" @click="sort('shelf')">Shelf</th>
										<th scope="col" rowspan="2" @click="sort('row')">Row</th>
										<th scope="col" rowspan="2" @click="sort('column')">Column</th>
										<th scope="col" rowspan="2" @click="sort('category')">Category</th>
										<th scope="col" rowspan="2" @click="sort('weight')">Weight</th>
										<th scope="col" class="no-click" colspan="2">Expiry Year</th>
										<th scope="col" class="no-click" colspan="2">Expiry Month</th>
										<th scope="col" rowspan="2" @click="sort('lastUpdated')">Last Updated</th>
										<th scope="col" rowspan="2">Note</th>
									</tr>
									<tr>
										<th scope="col" @click="sort('expiryYear.start')">Start</th>
										<th scope="col" @click="sort('expiryYear.end')">End</th>
										<th scope="col" @click="sort('expiryMonth.start')">Start</th>
										<th scope="col" @click="sort('expiryMonth.end')">End</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="tray in sortedTrays">
										<td>{{ tray.zone }}</td>
										<td>{{ tray.bay }}</td>
										<td>{{ tray.shelf }}</td>
										<td>{{ tray.row }}</td>
										<td>{{ tray.column }}</td>
										<td>{{ tray.category }}</td>
										<td>{{ tray.weight }}</td>
										<td>{{ tray.expiryYear.start }}</td>
										<td>{{ tray.expiryYear.end }}</td>
										<td>{{ tray.expiryMonth.start }}</td>
										<td>{{ tray.expiryMonth.end }}</td>
										<td>{{ tray.lastUpdated }}</td>
										<td>{{ tray.userNote }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="page-control-buttons">
							<button @click="prevPage" type="button" class="m-3">Previous</button>
							<button @click="nextPage" type="button" class="m-3">Next</button>
							<button @click="fetchAllTrays" type="button" class="m-3">Refresh Table</button>
						</div>
					</div>
				</div>
				<div class="row d-flex justify-content-center">
					<div class="col-sm-9">
						<h2 class="display-5">Filters</h2>
					</div>
				</div>
				<div class="row d-flex justify-content-center">
					<div class="col-sm-3">
						<div class="form-group">
							<label for="filter-zone">Zone Filter</label>
							<input type="text" v-on:keyup="currentPage = 1" v-model="zoneFilter" class="form-control" id="filter-zone" placeholder="Search by zone">
						</div>
						<div class="form-group">
							<label for="filter-bay">Bay Filter</label>
							<input type="text" v-on:keyup="currentPage = 1" v-model="bayFilter" class="form-control" id="filter-bay" placeholder="Search by bay">
						</div>
						<div class="form-group">
							<label for="filter-shelf">Shelf Filter</label>
							<input type="text" v-on:keyup="currentPage = 1" v-model="shelfFilter" class="form-control" id="filter-shelf" placeholder="Search by shelf">
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<label for="filter-row">Row Filter</label>
							<input type="text" v-on:keyup="currentPage = 1" v-model="rowFilter" class="form-control" id="filter-row" placeholder="Search by row on shelf">
						</div>
						<div class="form-group">
							<label for="filter-column">Column Filter</label>
							<input type="text" v-on:keyup="currentPage = 1" v-model="columnFilter" class="form-control" id="filter-column" placeholder="Search by column on shelf">
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<label for="filter-category">Category Filter</label>
							<input type="text" v-on:keyup="currentPage = 1" v-model="categoryFilter" class="form-control" id="filter-category" placeholder="Search by tray content">
						</div>
						<div class="form-group">
							<label for="filter-weight">Weight Filter</label>
							<input type="text" v-on:keyup="currentPage = 1" v-model="weightFilter" class="form-control" id="filter-weight" placeholder="Search by tray weight">
						</div>
					</div>
				</div>
			</div>
        </div>


		<!-- Start of code for report generation -->
		<div v-bind:class="{active:isReportActive}" class="report_page">
			<div class="container-fluid">
                <h4 class="display-4">Stock Report</h4>
                <hr>
				<div class="row mt-5" style="vertical-align: center;">
                    <div class="col-sm-6">
                        <h5 class="h2" style="text-align: center; margin-top: 0px; border-top: 0px;">Results</h5>
                        <div style="max-height:82vh;overflow:scroll;">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Item</th>
                                    <th>Count</th>
                                    <th>Total Weight(kg)</th>
                                </tr>
                                </thead>
                                <tr>
                                    <td>BEANS</td>
                                    <td>121</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr>
                                    <td>PASTA</td>
                                    <td>12</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr>
                                    <td>BAGS</td>
                                    <td>31</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr>
                                    <td>BISCUITS</td>
                                    <td>41</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr>
                                    <td>JAM</td>
                                    <td>63</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr>
                                    <td>FISH</td>
                                    <td>18</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr>
                                    <td>CEREAL</td>
                                    <td>3</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr>
                                    <td>TEA BAGS</td>
                                    <td>99</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr>
                                    <td>CUSTARD</td>
                                    <td>121</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr>
                                    <td>HOT CHOC</td>
                                    <td>13</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr>
                                    <td>SUGAR</td>
                                    <td>66</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr>
                                    <td>FRUIT JUICE</td>
                                    <td>53</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr>
                                    <td>RICE PUDDING</td>
                                    <td>22</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr>
                                    <td>INSTANT MEALS</td>
                                    <td>73</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr>
                                    <td>CLEANING</td>
                                    <td>124</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr>
                                    <td>COFFEE</td>
                                    <td>5</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr>
                                    <td>CRACKERS</td>
                                    <td>19</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr>
                                    <td>MILK</td>
                                    <td>23</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr>
                                    <td>TOMATOES</td>
                                    <td>11</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr>
                                    <td>POTATOES</td>
                                    <td>121</td>
                                    <td>1000.0</td>
                                </tr>
                                <tr class="table-info">
                                    <td>Total</td>
                                    <td>1000</td>
                                    <td>10000.0</td>
                                </tr>
                            </table>
                        </div>
                    </div>
					<div class="col-sm-6 d-flex justify-content-center">
						<div>
							<h5 class="h2" style="text-align: center; margin-top: 0px; border-top: 0px;">Selected Zones</h5>
							<button class = "custombtn" v-bind:class="{active:isSelected.includes('red')}" v-on:click="myFilter('red')">RED</button>	
							<button class = "custombtn" v-bind:class="{active:isSelected.includes('blue')}" v-on:click="myFilter('blue')">BLUE</button>
							<button class = "custombtn" v-bind:class="{active:isSelected.includes('pink')}" v-on:click="myFilter('pink')">PINK</button>
							<button class = "custombtn" style="font-weight: bold; background-color: #68B72E;">EXPORT</button>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End of code for report generation-->

        <!-- WAREHOUSE CONFIGURATION -->
        <div v-bind:class="{active: isWarehouseConfigActive}" class="warehouse-config">
            <div class="container-fluid">
				<div class="row">
					<div class="col text-center">
						<button v-on:click="warehouseFetchZones()">REFRESH</button>
						<h1 class="display-4">Warehouse Configuration</h1>
						<hr>
						<h5 class="h2">Create</h5>
					</div>
				</div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-4">
                        <div class="form-group">
							<label>ZONE NAME</label>
							<input class="form-control" type="text" placeholder="Zone Name" v-model="toInsertZoneName">
						</div>
						<div class="form-group">
							<label>BAY NAME</label>
							<input class="form-control" type="text" placeholder="Bay Name" v-model="toInsertBayName">
						</div>
						<div class="inv-v-ctrl-container text-center pt-3">
							<div class="inv-v-ctrl-head">OR NUMBER OF BAYS</div>
							<div class="inv-v-ctrl-mv">
								<button @click="warehouseChangeNumberOfBaysInsert(-1)">-</button>
								<div class="inv-v-zone">{{toInsertNumberOfBays}}</div>
								<button @click="warehouseChangeNumberOfBaysInsert(1)">+</button>
							</div>
						</div>
                    </div>

                    <div class="col-xl-4">
                        <div class="d-flex flex-column my-4">
                            <h5 class="display-5">NUMBER OF SHELVES</h5>
                            <div class="d-flex justify-content-center">
                                <button v-on:click="warehouseLimitShelfSelector()">-</button>
                                <h1 class="d-flex align-items-center display-5 px-5">{{toInsertNumOfShelves}}</h1>
                                <button v-on:click="toInsertNumOfShelves++">+</button>
                            </div>
                        </div>
        
        
                        <div class="d-flex flex-column my-4">
                            <h5 class="display-5">NUMBER OF TRAYS (VERTICAL)</h5>
                            <div class="d-flex justify-content-center">
                                <button v-on:click="warehouseLimitRowSelector(false)">-</button>
                                <h1 class="d-flex align-items-center display-5 px-5">{{toInsertNumOfRows}}</h1>
                                <button v-on:click="toInsertNumOfRows++">+</button>
                            </div>
                        </div>
        
                        <div class="d-flex flex-column my-4">
                            <h5 class="display-5">NUMBER OF TRAYS (HORIZONTAL)</h5>
                            <div class="d-flex justify-content-center">
                                <button v-on:click="warehouseLimitColumnSelector(false)">-</button>
                                <h1 class="d-flex align-items-center display-5 px-5">{{toInsertNumOfColumns}}</h1>
                                <button v-on:click="toInsertNumOfColumns++">+</button>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="my-2 submit-button" v-on:click="warehouseCreateSubmit()">SUBMIT</button>
            </div>
            <hr>
            <h5 class="h2">Modify</h5>
            <div class="d-flex col-12 align-items-start justify-content-around flex-wrap">
                <div class="d-flex flex-column align-items-center justify-content-around px-2 m-3 col-3 border border-dark" style="min-width: 450px;">
                    <h5 class="display-5 mt-4 mb-3">SELECT A ZONE</h5>
                    <div class="scrollable-list text-left border bg-light" v-if="warehouseZones.length > 0">
                        <button v-on:click="warehouseFetchBays(zoneName)" v-for="zoneName in warehouseZones">{{zoneName}}</button>
                    </div>
                    <h5 v-else class="bg-warning p-2 display-5">NO ZONES</h5>
                    <h1 v-if="originalData.zone.name != ''" class="display-5 mt-4 mb-3">SELECTED ZONE: {{originalData.zone.name}}</h1>
                    <h1 v-else class="display-5 mt-4 mb-3 bg-warning p-2">SELECTED ZONE: None</h1>

                    <div v-if="originalData.zone.name != ''" class="d-flex flex-column">
                        <input type="text" v-model="modifiedData.zone.name">
                        <h5 class="display-5">NUMBER OF BAYS</h5>
                        <div class="d-flex justify-content-center">
                            <button v-on:click="warehouseChangeNumberOfBays(-1)">-</button>
                            <h1 class="d-flex align-items-center px-5 display-5">{{modifiedData.zone.numberOfBays}}</h1>
                            <button v-on:click="warehouseChangeNumberOfBays(1)">+</button>
                        </div>
                        <button>DELETE ZONE</button>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-around px-2 m-3 col-3 border border-dark" style="min-width: 450px;">
                    <h5 class="display-5 mt-4 mb-3">SELECT A BAY</h5>
                    <div class="scrollable-list text-left border bg-light" v-if="warehouseBays.length > 0">
                        <button v-on:click="warehouseFetchShelves(bayName)" v-for="bayName in warehouseBays">{{bayName}}</button>
                    </div>
                    <h5 v-else class="bg-warning p-2 display-5">NO BAYS</h5>
                    <h1 v-if="originalData.bay.name != ''" class="display-5 mt-4 mb-3">SELECTED BAY: {{originalData.bay.name}}</h1>
                    <h1 v-else class="display-5 mt-4 mb-3 bg-warning p-2">SELECTED BAY: None</h1>

                    <div v-if="originalData.bay.name != ''" class="d-flex flex-column">
                        <input type="text" v-model="modifiedData.bay.name">
                        <h1 class="display-5">NUMBER OF SHELVES</h1>
                        <div class="d-flex justify-content-center">
                            <button v-on:click="warehouseChangeNumberOfShelves(-1)">-</button>
                            <h1 class="d-flex align-items-center px-5 display-5">{{modifiedData.bay.numberOfShelves}}</h1>
                            <button v-on:click="warehouseChangeNumberOfShelves(1)">+</button>
                        </div>
                        <button>DELETE BAY</button>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-around px-2 m-3 col-3 border border-dark" style="min-width: 450px;">
                    <h1 class="display-5 mt-4 mb-3">SELECT A SHELF</h1>
                    <div class="scrollable-list text-left border bg-light" v-if="warehouseShelves.length > 0">
                        <button v-on:click="warehouseFetchRowsColumns(shelfNumber)" v-for="shelfNumber in warehouseShelves">{{shelfNumber}}</button>
                    </div>
                    <h5 v-else class="bg-warning p-2 display-5">NO SHELVES</h5>
                    <h1 class="display-5 mt-4 mb-3" v-if="originalData.shelf.number != -1">SELECTED SHELF: {{originalData.shelf.number}}</h1>
                    <h1 class="display-5 mt-4 mb-3 bg-warning p-2" v-else>SELECTED SHELF: None</h1>

                    <div v-if="originalData.shelf.number != -1" class="d-flex flex-column">
                        <h1 class="display-5">NUMBER OF TRAYS (VERTICAL)</h1>
                        <div class="d-flex justify-content-center">
                            <button v-on:click="warehouseLimitRowSelector(true)">-</button>
                            <h1 class="d-flex align-items-center px-5 display-5">{{modifiedData.shelf.rows}}</h1>
                            <button v-on:click="modifiedData.shelf.rows++">+</button>
                        </div>

                        <h1 class="display-5">NUMBER OF TRAYS (HORIZONTAL)</h1>
                        <div class="d-flex justify-content-center">
                            <button v-on:click="warehouseLimitColumnSelector(true)">-</button>
                            <h1 class="d-flex align-items-center px-5 display-5">{{modifiedData.shelf.columns}}</h1>
                            <button v-on:click="modifiedData.shelf.columns++">+</button>
                        </div>
                    </div>
                </div>
                <hr class="col-xl-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="display-5 my-3">BEFORE CHANGES</h1>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5 class="display-5" v-if="originalData.zone.name != ''">Zone Name: {{originalData.zone.name}}</h5>
                            <h5 class="display-5" v-if="originalData.zone.numberOfBays != -1">Number of Bays: {{originalData.zone.numberOfBays}}</h5>
                        </div>
                        <div class="col-4">
                            <h5 class="display-5" v-if="originalData.bay.name != ''">Bay Name: {{originalData.bay.name}}</h5>
                            <h5 class="display-5" v-if="originalData.bay.numberOfShelves != -1">Number of Shelves: {{originalData.bay.numberOfShelves}}</h5>
                        </div>
                        <div class="col-4">
                            <h5 class="display-5" v-if="originalData.shelf.number != -1">Shelf: {{originalData.shelf.number}}</h5>
                            <h5 class="display-5" v-if="originalData.shelf.rows != -1">Rows (vertical): {{originalData.shelf.rows}}</h5>
                            <h5 class="display-5" v-if="originalData.shelf.columns != -1">Columns (horizontal): {{originalData.shelf.columns}}</h5>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="display-5 my-3">AFTER CHANGES</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <h5 class="display-5" v-if="originalData.zone.name != ''">Zone Name: {{modifiedData.zone.name}}</h5>
                                <h5 class="display-5" v-if="originalData.zone.numberOfBays != -1">Number of Bays: {{modifiedData.zone.numberOfBays}}</h5>
                            </div>
                            <div class="col-4">
                                <h5 class="display-5" v-if="originalData.bay.name != ''">Bay Name: {{modifiedData.bay.name}}</h5>
                                <h5 class="display-5" v-if="originalData.bay.numberOfShelves != -1">Number of Shelves: {{modifiedData.bay.numberOfShelves}}</h5>
                            </div>
                            <div class="col-4">
                                <h5 class="display-5" v-if="originalData.shelf.number != -1">Shelf: {{modifiedData.shelf.number}}</h5>
                                <h5 class="display-5" v-if="originalData.shelf.rows != -1">Rows (vertical): {{modifiedData.shelf.rows}}</h5>
                                <h5 class="display-5" v-if="originalData.shelf.columns != -1">Columns (horizontal): {{modifiedData.shelf.columns}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class = "submit-button" v-on:click="warehouseModifySubmit()">SUBMIT CHANGES</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF WAREHOUSE CONFIGURATION -->


        <!-- USER MANAGEMENT PAGE -->
        <!--ERROR: slight gap at the top of the page before container :(-->
        <div v-bind:class="{active: isUserManagementActive}" class="user-view text-center" style="height: 0px;">
            <div class="user-view-container">
                <h4 class="display-4">User Management</h4>
                <hr>
                <div>	
                    <h5 class="h2">All Users</h5>
                    <table class="table" style="text-align: center;"> <!-- TO DO: read from DB-->
                        <tr>
                            <th>FIRST NAME</th>
                            <th>LAST NAME</th>
                            <th>EMAIL</th>
                            <th>ROLE</th>
                            <th>CAN VIEW DATA</th>
                            <th>CAN EDIT DATA</th>
                            <th>CAN MODIFY WAREHOUSE</th>
                            <th>CAN MODIFY USERS</th>

                        </tr>
                        <tr style="font-weight:bold; color: white;" class="bg-primary">
                            <td>Aidan</td>
                            <td>Williamson</td>
                            <td>Aidan@AidansEmail.com</td>
                            <td>Manager</td>
                            <td><input type="checkbox" disabled checked/>  Yes</td>
                            <td><input type="checkbox" disabled checked/>  Yes</td>
                            <td><input type="checkbox" disabled checked/>  Yes</td>
                            <td><input type="checkbox" disabled checked/>  Yes</td>
                        </tr>
                        <tr>
                            <td>Eve</td>
                            <td>Jackson</td>
                            <td>EveJackson@OutkastsHub.co.uk</td>
                            <td>Team Leader</td>
                            <td><input type="checkbox" disabled checked/>  Yes</td>
                            <td><input type="checkbox" disabled checked/>  Yes</td>
                            <td><input type="checkbox" disabled/>  No</td>
                            <td><input type="checkbox" disabled/>  No</td>
                        </tr>
                        <tr>
                        <tr>
                            <td>Davis</td>
                            <td>McGregor</td>
                            <td>McDavidson@ntlLand.com</td>
                            <td>Stock Mover</td>
                            <td><input type="checkbox" disabled checked/>  Yes</td>
                            <td><input type="checkbox" disabled checked/>  Yes</td>
                            <td><input type="checkbox" disabled/>  No</td>
                            <td><input type="checkbox" disabled/>  No</td>
                        </tr>
                            <td>Roxanne</td>
                            <td>Harriet</td>
                            <td>RoxaneRoxanneson@googly.com</td>
                            <td>Designated Volunteer</td>
                            <td><input type="checkbox" disabled checked/>  Yes</td>
                            <td><input type="checkbox" disabled/>  No</td>
                            <td><input type="checkbox" disabled/>  No</td>
                            <td><input type="checkbox" disabled/>  No</td>
                        </tr>
                    </table>    
                </div>

                <div class="page-control-buttons" style="margin-bottom: 0px;">
                    <button @click="prevPage" class = "Button" style="padding: 8px; height: 80px; width: 125px; margin: 10px;" type="button">Previous</button>
                    <button @click="nextPage" class = "Button" style="padding: 8px; height: 80px;  width: 125px; margin: 10px;"type="button">Next</button>
                    <button @click="fetchAllTrays" class = "Button" style="padding: 8px; height: 80px;  width: 125px; margin: 10px;" type="button">Refresh Table</button>
                </div>

                <div class="page-control-buttons" style="margin-top: 0px; margin-bottom: 0px;">
                    <button class="add-update-button submit-button" type="button">EDIT SELECTED USER</button>
                    <button class="add-update-button submit-button" type="button">ADD USER</button>
                </div>

                <h5 class="h2">Selected User</h5>
                    <div class="current-record" style="margin-left: 0px;">
                        <div>
							<div class="form-group">
								<label class="d-inline">FIRST NAME:</label>
								<input type="text" class="d-inline form-control" placeholder="Aidan">
							</div>
                            <div class="form-group">
								<label>LAST NAME:</label>
								<input type="text" class="form-control" placeholder="Aidan">
							</div>
							<div class="form-group">
								<label>EMAIL:</label>
								<input type="text" class="form-control" placeholder="Aidan">
							</div>
                        </div>
                        <div class="record-item">
                            <h5 class = "display-5">ROLE: </h5>
                            <div class="button-group" style="vertical-align: centre; width:350px; margin-left: 2.5%;">
                                <button class="role-button" style="background-color: #497E92;">MANAGER</button>
                                <button class="role-button" >TEAM LEADER</button>
                                <button class="role-button" >STOCK MOVER</button>
                                <button class="role-button" >SORTING VOLUNTEER</button>
                            </div>
                        </div>
                        <div class="record-item">
                            <h5 class="display-5">PERMISSIONS: </h5>
                            <div class="button-group" style="vertical-align: centre; width:250px; margin-left: 2.5%;">
                                <h3><input type="checkbox" value="true" checked disabled/> Can View Data </h3>
                                <h3><input type="checkbox" value="true" checked disabled/> Can Edit Data</h3>
                                <h3><input type="checkbox" value="true" checked disabled/> Can Modify Warehouse</h3>
                                <h3><input type="checkbox" value="true" checked disabled/> Can Modify Users</h3>
                            </div>
                        </div>
                    </div>
                    <button class="submit-button Button" style="width:600px;">UPDATE RECORD</button>
                </div>
            </div>
        </div>

        <!-- END OF USER MANAGEMENT PAGE -->

    </div>
</div>

  <script src="./src/main.js?v=22" ></script>
</body>
</html>