<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
        <div id="data-view" style="width: 100%; height: 100%;">
            <table>
                <tr>
                    <th rowspan="2" @click="sort('zone')">Zone</th>
                    <th rowspan="2" @click="sort('bay')">Bay</th>
                    <th rowspan="2" @click="sort('shelf')">Shelf</th>
                    <th rowspan="2" @click="sort('row')">Row</th>
                    <th rowspan="2" @click="sort('column')">Column</th>
                    <th rowspan="2" @click="sort('category')">Category</th>
                    <th rowspan="2" @click="sort('weight')">Weight</th>
                    <th style="cursor: default;" colspan="2">Expiry Year</th>
                    <th style="cursor: default;" colspan="2">Expiry Month</th>
                    <th rowspan="2" @click="sort('lastUpdated')">Last Updated</th>
                    <th style="cursor: default;" rowspan="2">Note</th>
                </tr>

                <tr>
                    <th @click="sort('expiryYear.start')">Start</th>
                    <th @click="sort('expiryYear.end')">End</th>
                    <th @click="sort('expiryMonth.start')">Start</th>
                    <th @click="sort('expiryMonth.end')">End</th>
                </tr>


                <tr v-for="tray in sortedTrays">
                    <td>{{ tray.zone }}</td>
                    <td>{{ tray.bay }}</td>
                    <td>{{ tray.shelf }}</td>
                    <td>{{ tray.row }}</td>
                    <td>{{ tray.column }}</td>
                    <td>{{ tray.category }}</td>
                    <td>{{ tray.weight }}</td>
                    <td>{{ tray.expiryYear.start }}</td>
                    <td>{{ tray.expiryYear.end }}</td>
                    <td>{{ tray.expiryMonth.start }}</td>
                    <td>{{ tray.expiryMonth.end }}</td>
                    <td>{{ tray.lastUpdated }}</td>
                    <td>{{ tray.userNote }}</td>
                </tr>

            </table>

            <div style="display: flex; margin: 10px;">
                <button @click="prevPage" style="padding: 8px;width: 125px; margin: 10px;" type="button">Previous</button>
                <button @click="nextPage" style="padding: 8px; width: 125px; margin: 10px;"type="button">Next</button>
            </div>
            <div class="input-filters" style="display: flex; flex-wrap: wrap; justify-content: center;">
                <label>Zone Filter: <input v-model="zoneFilter" placeholder="Search by zone" type="text" ></label>
                <label>Bay Filter: <input v-model="bayFilter" placeholder="Search by bay" type="text" ></label>
                <label>Shelf Filter: <input v-model="shelfFilter" placeholder="Search by shelf" type="text" ></label>
                <label>Row Filter: <input v-model="rowFilter" placeholder="Search by row" type="text" ></label>
                <label>Column Filter: <input v-model="columnFilter" placeholder="Search by column" type="text" ></label>
                <label>Category Filter: <input v-model="categoryFilter" placeholder="Search by category" type="text" ></label>
                <label>Weight Filter: <input v-model="weightFilter" placeholder="Search by weight" type="text" ></label>
            </div>
        </div id="data-view">
    </body>

    <script src="./script.js"></script>
</html>