* {
    font-family: sans-serif;
}

#data-view {
    display: flex;
    align-items: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

tr, td {
    padding: 5px;
    border: 1px solid black;
}

th {
    border: 2px solid black;
    padding: 5px;
}

th:hover {
    cursor: pointer;
}

.input-filters label {
    margin: 25px;
}