* {
    font-family: sans-serif;
}

p {
    margin: 18px 6px 6px 18px;
    text-align: justify
}

div.ex1 {
    border: 1px;
    width: 20%;
    float: left;
    margin-left: 1%;
}

div.ex2 {
    border: 1px;
    width: 20%;
    float: left;
    margin-right: 1%;
}

div.ex3 {
    border: 1px;
    width: 90%;
    float: left;
    margin-right: 1%;
}