.btn-group1 .button {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 170px;
    display: block;
  }
  .btn-group1 .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  } 
  .btn-group1 .button:hover {
    background-color: #3e8e41;
  }

.btn-group2 .button {
    background-color: orange;
    border: 1px solid green;
    width: 120px;
    color: white;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
 }
 .btn-group2 .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  } 
 .btn-group2 .button:hover {
    background-color: #FF8C00
  }

