* {
    font-family: sans-serif;
}

p {
    margin: 18px 6px 6px 18px;
    text-align: justify
}

h2{
	text-align: center;
}

div.ex1 {
    border: 1px;
    width: 20%;
    float: left;
    margin-left: 1%;
}

div.ex2 {
    border: 1px;
    width: 20%;
    float: left;
    margin-right: 1%;
}

div.ex3 {
    border: 1px;
    width: 90%;
    float: left;
    margin-right: 1%;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}